html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #2980b9;
}

.message {
  width: 500px;
  height: 250px;
  top: 50%;
  left: 50%;
  color: #fff;
  font-weight: 200;
  text-align: center;
}

.message h1 {
  font-size: 50px;
  font-weight: 100;
}

.message div {
  margin-bottom: 10px;
}

.titleBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  -webkit-app-region: drag;
}